.experienceContainer{
    height: auto;

}
.CardContainer{
    height: auto;
}
.testimonialContainer{
    height: 320px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    background: #FFFFFF;
    border: 0.1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.1);
}
.topContent{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}
.logo{
    margin: 20px 0 0 20px;
    margin-right: 0px;
    width: 150px;
}
.date{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #777777;
    margin: 40px 20px 0 0;
    letter-spacing: 1px;
}
.bottomContent{
    align-self: flex-end;
    position: relative;
    margin: 10px;
}
.title{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    margin: 10px;
}

.content{
    font-family: Poppins;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    margin: 10px;
}