.container{
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin: 40px 0 40px 0;
}

.innerContainer{
    display: flex;
}
.textContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.headingContainer{
    width: 35vw;
    margin: 50px 0 10px 0;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 1.1666669845581055px;
}

.date{
    font-size: 18px;
    line-height: 19px;
    color: #888888;
}

.content{
    font-size: 18px;
    width: 80%;
    margin-top: 18px;
    font-weight: 100;
    letter-spacing: 2px;
    color: #333333;
}

.image{
    height: 350px;
    width: 600px;
}

.button{
    width: auto;
    box-sizing: border-box;
    position: relative;
    top: 40px;
    border-style: solid;
    border-color:   #4758BC;
    border-width: 2px;
    padding: 8px 16px 8px 16px;
    border-radius: 4px;
}

.button:hover{
    cursor: pointer;
}

.buttonContent{
    color: #4758BC;
    width: auto;
    line-height: 24px;
    letter-spacing: 0.36000001430511475px;
}


